div(class='container-fluid')
  div(class="row")
    div(class="col-lg-4")
      div(class="row-fluid")
        include home_pane
    div(class="col-lg-8")   
      div(class="row-fluid")
        include home_body
