div(id='home-pane')
  div(class='row')
    div(class='btn-group')
      ul(class='nav nav-pills nav-stacked') 
        li
          a(href='/mc') MCCloud 
        li
          a(href='#') Order
        li
          a(href='#') Charge 
        li
          a(href='#') Cash 
        li
          a(href='/accounts/password_change') Change Password 

