<script type="text/javascript" src="/static/three.js/three.min.js"></script>
<script type="text/javascript" src="/static/three.js/Detector.js"></script>
<script type="text/javascript" src="/static/three.js/TrackballControls.js"></script>
{% load static %}
<script type="text/javascript" src="{% static "mc/js/display.js" %}"></script>
div
  div(id="3d_canvas", height="480px",width="800px")
