<link rel="stylesheet" href="/static/jstree-3.3.4/themes/default/style.min.css" />
<link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.min.css">
//<link rel="stylesheet" href="/static/DataTables-1.10.16/media/css/jquery.dataTables.min.css">
<script type="text/javascript" src="/static/jstree-3.3.4/jstree.min.js"></script>
<script type="text/javascript" src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
//<script type="text/javascript" src="/static/DataTables-1.10.16/media/js/jquery.dataTables.min.js"></script>
{% load static %}
<script type="text/javascript" src="{% static "mc/js/mc.js" %}"></script>
<script type="text/javascript" src="{% static "mc/js/model.js" %}"></script>
<script type="text/javascript" src="{% static "mc/js/project.js" %}"></script>
<script type="text/javascript" src="{% static "mc/js/materials.js" %}"></script>
<script type="text/javascript" src="{% static "mc/js/volume.js" %}"></script>
<script type="text/javascript" src="{% static "mc/js/solid.js" %}"></script>
<script type="text/javascript" src="{% static "mc/js/primary.js" %}"></script>
//<style> #project-window{width: 200px;}</style>
div(class='container-fluid')
  div(class="row")
    div(class="col-lg-3")
      div(class="row-fluid")
        include project
    div(class="col-lg-2")   
      div(class="row-fluid")
        include property
    div(class="col-lg-7")   
      div(class="row-fluid")
        include display
