div(class='container-fluid')
  div(class="row")
    div(class="col-lg-2")
      div(class="row-fluid")
        include project
    div(class="col-lg-2")   
      div(class="row-fluid")
        include property
    div(class="col-lg-8")   
      div(class="row-fluid")
        include display
