div(class='container')
  div(class="row")
    div(class="col-lg-2")
      div(class="row")
        include project
    div(class="col-lg-10")   
      div(class="row")
        div(class="col-lg-2")
          include property
        div(class="col-lg-8")
          p Display
          include display
      div(class="row")
        p Console
        include console
