//<script type="text/javascript" src="/static/bootstrap-treeview-1.2.0/js/bootstrap-treeview.js"></script>
<link rel="stylesheet" href="/static/jstree-3.3.4/themes/default/style.min.css" />
<script type="text/javascript" src="/static/jstree-3.3.4/jstree.min.js"></script>
{% load static %}
<script type="text/javascript" src="{% static "mc/js/project.js" %}"></script>
div
  div(class='btn-group')
    button(type='button',class='btn btn-default dropdown-toggle',data-toggle="dropdown") Project
      span(class='caret')
    ul(class='dropdown-menu',role='menu') 
      li
        a(id='new-project',href='#') New 
      li
        a(id='open-project',href='#') Open
      li
        a(id='save-project',href='#') Save 
      li
        a(id='close-project',href='#') Close 
  div(id='project-view')





