div(id='project-window')
  div(class='row')
    div(class='btn-group')
      button(type='button',class='btn btn-default dropdown-toggle',data-toggle="dropdown") Project
        span(class='caret')
      ul(class='dropdown-menu',role='menu') 
        li
          a(id='new-project',href='#') New 
        li
          a(id='open-project',href='#') Open
        li
          a(id='save-project',href='#') Save 
        li
          a(id='close-project',href='#') Close 
  div(id='project-view', class='pre-scrollable',style='height:700px;max-height: 700px;')
<script>
$('#project-window').resizable();
</script>
div(id='project-list',class='table-responsive ui-widget', title='Open Project')
  table(id="project-table",class="table table-hover ui-widget ui-widget-content")
      thead
        tr(class='ui-widget-header')
          th ID
          th Name
          th Create
          th Update
      tbody(id='project-tbody')
  div(class='ui-dialog-buttonpane')
