{% load static %}
<script type="text/javascript" src="{% static "mc/js/property.js" %}"></script>
//<style> #property-window{width: 200px;}</style>
//<script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
//$('#property-window').slimScroll({ height: '400px'});
div(id='property-window')
  div(id='property-container',class='row')
    div(id='property-current', class='btn-group hidden')
    include property_geometry
    include property_materials
    include property_primary
    include property_physics
    include property_detector
    include property_run
    include property_output
  div(id='property-detail-container',class='row')
    div(id='property-detail-current', class='hidden')
    include property_detail_geometry
<script>
$('#property-window').resizable();
</script>
