div(id='property-materials', class='hidden')
  form(class='form',role='form')
    div(class='row')
      label Materials
    div(class='form-group')
      button(id='material-add',type='button', class='btn btn-default',onclick='MaterialAdd()') Add
      button(id='material-delete',type='button', class='btn btn-default',onclick='MaterialDelete()') Delete
