div(id='property-run', class='hidden')
  div(class='row')
    label Run
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      {% csrf_token %}
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Instance
          select(class='form-control',name='type',onchange='RunForm.TypeChanged(this)')
              option 4Core
              option 8Core
              option 16Core
              option 36Core
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Node Size
          input(type='number',class='form-control',name='nodes',onchange='RunForm.NodesChanged(this)')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Run Time
          input(type='number',class='form-control',name='time',onchange='RunForm.TimeChanged(this)')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Time Unit
          select(class='form-control',name='unit',onchange='RunForm.UnitChanged(this)')
              option minute
              option hour
      button(id='verify',class="btn btn-default",onclick='RunForm.Verify(this)') Verify
      button(id='run',class="btn btn-default",onclick='RunForm.Run(this)') Run

div(id='job-progress',class='ui-widget', title='Job Progress')
  div(id="job-table",class="ui-widget ui-widget-content")
    div
      label(id='job-progress-msg') Your job is running!
    div
      div(class='progress  progress-striped active')
        div(id='job-progress-bar',class="progress-bar progress-bar-success",role="progressbar",aria-valuenow="60", aria-valuemin="0",aria-valuemax="100",style="width: 50%;")
  div(class='ui-dialog-buttonpane')

div(id='order-book',class='table-responsive ui-widget', title='Order')
  div(class="ui-widget ui-widget-content")
    table(id="order-table",class="table table-hover")
      thead
        tr(class='ui-widget-header')
          th Name
          th Count
          th Price(RMB)
          th Time(minute)
      tbody(id='order-tbody')
    div(class='')
      span(class='input-group-addon') Total cost(RMB):
      span(class='input-group-addon',id='order-cost') 100
  div(class='ui-dialog-buttonpane')

