div(id='property-primary', class='hidden')
  div(class='row')
    label Primaries
  div(class='row')
    form(class='form',role='form')
      div(class='btn-group')
        button(type='button',class='btn btn-sm dropdown-toggle',data-toggle="dropdown") Action 
          span(class='caret')
        ul(class='dropdown-menu',role='menu') 
          li
            a(id='new-node',href='#',onclick='PrimaryAdd()') Add GPS Source 

div(id='property-source', class='hidden')
  div(class='row')
    label Source
  div(class='row')
    form(class='form',role='form')
      div(class='btn-group')
        button(type='button',class='btn btn-sm dropdown-toggle',data-toggle="dropdown") Action 
          span(class='caret')
        ul(class='dropdown-menu',role='menu') 
          li
            a(id='delete-node',href='#',onclick='SourceDelete()') Delete Current  
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Name:
          input(class='form-control',name='name')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Intensity:
          input(type='number',step='0.0001',class='form-control',name='intensity')

div(id='property-particle', class='hidden')
  div(class='row')
    label Particle
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      div(class='form-group')
        div(id='gps-par-type',class='input-group input-group-sm')
          span(class='input-group-addon') Type:
          select(class='form-control',name='type',onchange='PParticle.TypeChanged(this)')
              option gamma
              option e-
              option e+
              option neutron
              option proton
              option ion
        div(id='gps-par-z',class='input-group input-group-sm')
          span(class='input-group-addon') Z:
          input(type='number',class='form-control',name='z',onchange='PParticle.ValueChanged(this)')
        div(id='gps-par-a',class='input-group input-group-sm')
          span(class='input-group-addon') A:
          input(type='number',class='form-control',name='a',onchange='PParticle.ValueChanged(this)')
        div(id='gps-par-q',class='input-group input-group-sm')
          span(class='input-group-addon') Q:
          input(type='number',step='0.0001',class='form-control',name='q',onchange='PParticle.ValueChanged(this)')
        div(id='gps-par-e',class='input-group input-group-sm')
          span(class='input-group-addon') E:
          input(type='number',step='0.0001',class='form-control',name='e',onchange='PParticle.ValueChanged(this)')

div(id='property-position', class='hidden')
  div(class='row')
    label Position
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      div(class='form-group')
        div(id='gps-pos-type',class='input-group input-group-sm')
          span(class='input-group-addon') Type:
          select(class='form-control',name='type',onchange='ChangePositionType(this)')
              option Point
              option Plane
              option Beam
              option Surface
              option Volume
        div(id='gps-pos-shape',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Shape:
          select(class='form-control',name='shape',onchange='ChangePositionShape(this)')
              option Circle
              option Annulus
              option Ellipse
              option Rectangle
              option Sphere
              option Ellipsoid
              option Cylinder
              option Para
        div(id='gps-pos-centre',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Centre(x,y,z):
          input(class='form-control',name='centre',onchange='PositionCentreChanged(this)')
        div(id='gps-pos-rot1',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Rot1:
          input(class='form-control',name='rot1',onchange='PositionRot1Changed(this)')
        div(id='gps-pos-rot2',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Rot2:
          input(class='form-control',name='rot2',onchange='PositionRot2Changed(this)')
        div(id='gps-pos-half',class='input-group input-group-sm hidden')
          span(id='halfxyz',class='input-group-addon') Half XYZ(x,y,z):
          input(class='form-control',name='half',onchange='PositionHalfChanged(this)')
        div(id='gps-pos-radius',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Radius:
          input(class='form-control',type='number',step='0.0001',name='radius',onchange='PositionRadiusChanged(this)')
        div(id='gps-pos-inner-radius',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Inner Radius:
          input(class='form-control',type='number',step='0.0001',name='inner-radius',onchange='PositionInnerRadiusChanged(this)')
        div(id='gps-pos-sigma-radius',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Sigma Radius:
          input(class='form-control',type='number',step='0.0001',name='sigma-radius',onchange='PositionSigmaRChanged(this)')
        div(id='gps-pos-sigma-x',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Sigma X:
          input(class='form-control',type='number',step='0.0001',name='sigma-x',onchange='PositionSigmaXChanged(this)')
        div(id='gps-pos-sigma-y',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Sigma Y:
          input(class='form-control',type='number',step='0.0001',name='sigma-y',onchange='PositionSigmaYChanged(this)')
        div(id='gps-pos-paralp',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Para Alpha:
          input(class='form-control',type='number',step='0.0001',name='paralp',onchange='PositionParalpChanged(this)')
        div(id='gps-pos-parthe',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Para Theta:
          input(class='form-control',type='number',step='0.0001',name='parthe',onchange='PositionPartheChanged(this)')
        div(id='gps-pos-parphi',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Para Phi:
          input(class='form-control',type='number',step='0.0001',name='parphi',onchange='PositionParphiChanged(this)')
        div(id='gps-pos-lunit',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Length Unit:
          select(class='form-control',name='lunit',onchange='PositionLUnitChanged(this)')
              option cm
              option m
              option mm
              option km
        div(id='gps-pos-aunit',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Angle Unit:
          select(class='form-control',name='aunit',onchange='PositionAUnitChanged(this)')
              option deg
              option rad
      //button(type='submit',class="btn btn-default") Save

div(id='property-angular', class='hidden')
  div(class='row')
    label Angular
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      div(class='form-group')
        div(id='gps-ang-type',class='input-group input-group-sm')
          span(class='input-group-addon') Type:
          select(class='form-control',name='type',onchange='ChangeAngularType(this)')
              option Planar
              option Iso
              option Cos
              option Beam1d
              option Beam2d
              option Focused
        div(id='gps-ang-direction',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Direction(x,y,z):
          input(class='form-control',name='direction',onchange='AngularDirectionChanged(this)')
        div(id='gps-ang-rot1',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Rot1:
          input(class='form-control',name='rot1',onchange='AngularRot1Changed(this)')
        div(id='gps-ang-rot2',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Rot2:
          input(class='form-control',name='rot2',onchange='AngularRot2Changed(this)')
        div(id='gps-ang-mintheta',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Min Theta:
          input(class='form-control',type='number',step='0.0001',name='mintheta',onchange='AngularMinThetaChanged(this)')
        div(id='gps-ang-maxtheta',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Max Theta:
          input(class='form-control',type='number',step='0.0001',name='maxtheta',onchange='AngularMaxThetaChanged(this)')
        div(id='gps-ang-minphi',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Min Phi:
          input(class='form-control',type='number',step='0.0001',name='minphi',onchange='AngularMinPhiChanged(this)')
        div(id='gps-ang-maxphi',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Max Phi:
          input(class='form-control',type='number',step='0.0001',name='maxphi',onchange='AngularMaxPhiChanged(this)')
        div(id='gps-ang-sigma-radius',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Sigma Radius:
          input(class='form-control',type='number',step='0.0001',name='sigma-radius',onchange='AngularSigmaRChanged(this)')
        div(id='gps-ang-sigma-x',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Sigma X:
          input(class='form-control',type='number',step='0.0001',name='sigma-x',onchange='AngularSigmaXChanged(this)')
        div(id='gps-ang-sigma-y',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Sigma Y:
          input(class='form-control',type='number',step='0.0001',name='sigma-y',onchange='AngularSigmaYChanged(this)')
        div(id='gps-ang-focuspoint',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Focus Point:
          input(class='form-control',name='focuspoint',onchange='AngularFocusPointChanged(this)')
        div(id='gps-ang-lunit',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Length Unit:
          select(class='form-control',name='lunit',onchange='AngularLUnitChanged(this)')
              option cm
              option m
              option mm
              option km
        div(id='gps-ang-aunit',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Angle Unit:
          select(class='form-control',name='aunit',onchange='AngularAUnitChanged(this)')
              option deg
              option rad

div(id='property-energy', class='hidden')
  div(class='row')
    label Energy
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      div(class='form-group')
        div(id='gps-ene-type',class='input-group input-group-sm')
          span(class='input-group-addon') Type:
          select(class='form-control',name='type',onchange='PEnergy.TypeChanged(this)')
              option Mono
              option Lin
              option Pow
              option Exp
              option Gauss
              option Brem
              option Bbody
              option Cdg
              //option User
              //option Arb
              //option Epn
        div(id='gps-ene-min',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Min:
          input(class='form-control',type='number',step='0.0001',name='min',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-max',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Max:
          input(class='form-control',type='number',step='0.0001',name='max',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-mono',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Mono:
          input(class='form-control',type='number',step='0.0001',name='mono',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-sigma',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Sigma:
          input(class='form-control',type='number',step='0.0001',name='sigma',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-alpha',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Alpha:
          input(class='form-control',type='number',step='0.0001',name='alpha',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-temp',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Temp(Kelvins):
          input(class='form-control',type='number',step='0.0001',name='temp',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-ezero',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Ezero:
          input(class='form-control',type='number',step='0.0001',name='ezero',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-gradient',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Gradient:
          input(class='form-control',type='number',step='0.0001',name='gradient',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-intercept',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Intercept:
          input(class='form-control',type='number',step='0.0001',name='intercept',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-biasAlpha',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Bias Alpha:
          input(class='form-control',type='number',step='0.0001',name='biasAlpha',onchange='PEnergy.ValueChanged(this)')
        //div(id='gps-ene-calculate',class='input-group input-group-sm hidden')
        //span(class='input-group-addon') Calculate:
        //input(class='form-control',type='number',step='0.0001',name='calculate',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-emspec',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Emspec:
          input(class='form-control',type='number',step='0.0001',name='emspec',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-diffspec',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Diffspec:
          input(class='form-control',type='number',step='0.0001',name='diffspec',onchange='PEnergy.ValueChanged(this)')
        div(id='gps-ene-eunit',class='input-group input-group-sm hidden')
          span(class='input-group-addon') Energy Unit:
          select(class='form-control',name='eunit',onchange='PEnergy.ValueChanged(this)')
              option keV 
              option MeV 
              option GeV 
              option TeV 
              option PeV
              option eV 

div(id='property-time', class='hidden')
  div(class='row')
    label Time
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      div(class='form-group')
        div(id='gps-time-time',class='input-group input-group-sm')
          span(class='input-group-addon') Time:
          input(type='number',step='0.0001',class='form-control',name='time',onchange='PTime.ValueChanged(this)')
        div(id='gps-time-tunit',class='input-group input-group-sm')
          span(class='input-group-addon') Unit:
          select(class='form-control',name='tunit',onchange='PTime.TUnitChanged(this)')
              option ns
              option ps
              option us
              option ms
              option s
