div(id='property-primary', class='hidden')
  div(class='row')
    label Primaries
  div(class='row')
    form(class='form',role='form')
      div(class='btn-group')
        button(type='button',class='btn btn-sm dropdown-toggle',data-toggle="dropdown") Action 
          span(class='caret')
        ul(class='dropdown-menu',role='menu') 
          li
            a(id='new-node',href='#',onclick='PrimaryAdd()') Add Primary 

div(id='property-source', class='hidden')
  div(class='row')
    label Source
  div(class='row')
    form(class='form',role='form')
      div(class='btn-group')
        button(type='button',class='btn btn-sm dropdown-toggle',data-toggle="dropdown") Action 
          span(class='caret')
        ul(class='dropdown-menu',role='menu') 
          li
            a(id='delete-node',href='#',onclick='SourceDelete()') Delete Current  
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Name:
          input(class='form-control',name='name')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Intensity:
          input(type='number',step='0.0001',class='form-control',name='intensity')

div(id='property-particle', class='hidden')
  div(class='row')
    label Particle
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);',onsubmit='OnMaterialSubmit(this)')
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Name:
          input(class='form-control',name='name')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Density:
          input(type='number',step='0.0001',class='form-control',name='density')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Type:
          select(class='form-control',name='type')
              option mixture
              option element
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Mix by:
          select(class='form-control',name='weight')
              option fraction
              option composite
      //button(class="btn btn-default",onclick='MaterialEdit()') Component
      button(type='submit',class="btn btn-default") Save

div(id='property-position', class='hidden')
  div(class='row')
    label Position
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);',onsubmit='OnMaterialSubmit(this)')
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Name:
          input(class='form-control',name='name')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Density:
          input(type='number',step='0.0001',class='form-control',name='density')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Type:
          select(class='form-control',name='type')
              option mixture
              option element
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Mix by:
          select(class='form-control',name='weight')
              option fraction
              option composite
      //button(type='submit',class="btn btn-default") Save
