div(id='property-solid-box', class='hidden')
  div(class='row')
    label Box
  form(class='form',role='form',action='javascript:void(0);',onsubmit='OnBoxSubmit(this)')
    div(class='form-group')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') x:
        input(class='form-control',name='x')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') y:
        input(class='form-control',name='y')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') z:
        input(class='form-control',name='z')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') lunit:
        select(class='form-control',name='lunit')
            option m
            option cm
            option mm
            option km
    button(type='submit',class="btn btn-default") Save

div(id='property-solid-tube', class='hidden')
  div(class='row')
    label Tube
  form(class='form',role='form',action='javascript:void(0);',onsubmit='OnTubeSubmit(this)')
    div(class='form-group')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') rmin:
        input(class='form-control',name='rmin')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') rmax:
        input(class='form-control',name='rmax')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') z:
        input(class='form-control',name='z')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') startphi:
        input(class='form-control',name='startphi')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') deltaphi:
        input(class='form-control',name='deltaphi')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') lunit:
        select(class='form-control',name='lunit')
            option m
            option cm
            option mm
            option km
      div(class='input-group input-group-sm')
        span(class='input-group-addon') aunit:
        select(class='form-control',name='aunit')
            option deg
            option rad
    button(type='submit',class="btn btn-default") Save

div(id='property-placement-simple', class='hidden')
  div(class='row')
    label Placement
  form(class='form',role='form',action='javascript:void(0);',onsubmit='OnPlacementSimpleSubmit(this)')
    div(class='form-group')
      div(class='row')
        label Position
      div(class='input-group input-group-sm')
        span(class='input-group-addon') x:
        input(class='form-control',name='px')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') y:
        input(class='form-control',name='py')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') z:
        input(class='form-control',name='pz')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') lunit:
        select(class='form-control',name='lunit')
            option m
            option cm
            option mm
            option km
      div(class='row')
        label Rotation
      div(class='input-group input-group-sm')
        span(class='input-group-addon') x:
        input(class='form-control',name='rx')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') y:
        input(class='form-control',name='ry')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') z:
        input(class='form-control',name='rz')
      div(class='input-group input-group-sm')
        span(class='input-group-addon') aunit:
        select(class='form-control',name='aunit')
            option deg
            option rad
    button(type='submit',class="btn btn-default") Save

