div(id='property-output', class='hidden')
  div(class='row')
    label Output
  div(class='row')
    label Job ID:
    label(id='job-id')
  div(class='row')
    label Job status:
    label(id='job-status')
  div(class='row')
    button(class="btn btn-default",onclick='OutputForm.Update(this)') Update
    button(class="btn btn-default",onclick='OutputForm.Download(this)') Download
    button(class="btn btn-default",onclick='OutputForm.Open(this)') Open

div(id='property-mesh', class='hidden')
  div(class='row')
    label Mesh
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      {% csrf_token %}
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Choose
          select(class='form-control',name='file',onchange='MeshForm.Update()')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Aixs
          select(class='form-control',name='axis',onchange='MeshForm.Update()')
              option x
              option y
              option z
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Index
          input(type='number',class='form-control',value='0',name='index',onchange='MeshForm.Update()')

div(id='property-dist', class='hidden')
  div(class='row')
    label Dist
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      {% csrf_token %}
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Choose
          select(class='form-control',name='file',onchange='DistForm.Update()')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Line style
          select(class='form-control',name='ls',onchange='DistForm.Update()')
              option -
              option --
              option -.
              option steps
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Color
          select(class='form-control',name='color',onchange='DistForm.Update()')
              option blue
              option red
              option green
              option yellow

div(id='property-log', class='hidden')
  div(class='row')
    label Log
  div(class='row')
    form(class='form',role='form',action='javascript:void(0);')
      {% csrf_token %}
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Rank
          select(class='form-control',name='file',onchange='LogForm.Update()')

div(id='job-list',class='table-responsive ui-widget', title='Open Job')
  table(id="job-table",class="table table-hover ui-widget ui-widget-content")
      thead
        tr(class='ui-widget-header')
          th ID
          th Date
          th Instance
          th Node
          th Time(minute)
          th Status
      tbody(id='job-tbody')
  div(class='ui-dialog-buttonpane')
