div(id='property-volume', class='hidden')
  form(class='form',role='form',action='javascript:void(0);')
    {% csrf_token %}
    div(class='row')
      label(id='current-node-name') Volume
    div(class='row')
      //label Node
      div(class='btn-group')
        button(type='button',class='btn btn-sm dropdown-toggle',data-toggle="dropdown") Action 
          span(class='caret')
        ul(class='dropdown-menu',role='menu') 
          li
            a(id='new-node',href='#',onclick='VolumeControl.Add()') Add Child 
          li
            a(id='delete-node',href='#',onclick='VolumeControl.Delete()') Delete Current  
          li
            a(id='edit-detector',href='#',onclick='VolumeControl.EditDetector()') Edit Detector  
    div(class='row')
      //div(class='form-group')
      //  button(id='volume-add',type='button', class='btn btn-default',onclick='VolumeAdd()') Add
      //  button(id='volume-delete',type='button', class='btn btn-default',onclick='VolumeDelete()') Delete
      div(class='form-group')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Name:
          input(class='form-control',name='name',onchange='VolumeControl.NameChanged(this)')
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Solid:
          select(class='form-control',name='solid',onclick='VolumeControl.InitSolidForm()',onchange='VolumeControl.SolidTypeChanged(this)')
              option box
              option tube
              option sphere
              option cone
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Material:
          //input(class='form-control',name='material')
          select(class='form-control',name='material',onchange='VolumeControl.OnMaterialChanged(this)')
            option --
        div(class='input-group input-group-sm')
          span(class='input-group-addon') Placement:
          select(class='form-control',name='placement',onclick='VolumeControl.InitPlacementForm()',onchange='VolumeControl.ChangePlacementType(this)')
              option simple

