{% load static %}
<script type="text/javascript" src="{% static "mc/js/property.js" %}"></script>
div
  p Property
  div(id='property-container')
    div(id='property-current', class='btn-group-vertical hidden')
    div(id='property-physical', class='btn-group-vertical hidden')
      button(id='physical-add',type='button', class='btn btn-default',onclick='PhysicalAdd()') Add
      button(id='physical-delete',type='button', class='btn btn-default',onclick='PhysicalDelete()') Delete
