{% load static %}
<script type="text/javascript" src="{% static "mc/js/property.js" %}"></script>
div
  p Property
  div(id='property-container')
    div(id='property-content', class='btn-group-vertical')
      button(id='physical-add',type='button', class='btn btn-default') Add
      button(id='physical-delete',type='button', class='btn btn-default') Delete
