extends layout
block scripts
  <script type="text/javascript" src="/javascripts/libs/sha.js"></script> 
  <script type="text/javascript" src="/javascripts/login.js"></script>  
block content
  form(id='login',action='/users', method='post',onsubmit='return false', class='form-horizontal',role='form')
    div(class='form-group')
      label(class='col-sm-1 control-label') 账号
      div(class='col-sm-2')
        input(name='account',class='form-control', required)
    div(class='form-group')
      label(class='col-sm-1 control-label') 密码
      div(class='col-sm-2')
        input(id='password',class='form-control', required, type='password')
    div(class='form-group',type='hidden')
      input(id='sha_pass',name='password',type='hidden')
    div(class='form-group')
      div(class='col-sm-1')
      div(class='col-sm-1')
        button(class='btn btn-default',type='submit') 登陆
      div(class='col-sm-2')    
        label(id='msg',style='color: red;')
block extra_content
