link(rel='stylesheet', href='/static/bootstrap-3.3.6/css/bootstrap.min.css')
link(rel='stylesheet', href='/static/css/mccloud.css')
<script type="text/javascript" src="/static/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
title MCClouds
