extends layout
  h1 MCClouds - an online tool for the MONTE CARLO PARTICLE TRANSPORT through matter. 
  p MCClouds provides an interactive GUI to design the geometry mode. You can change the geometry parameter and view the result immediately.
  p MCClouds runs the simulations online by using HPC cluster. You can run the simulation by thouthands of CPU cores.
  p MCClouds shows the simulation results online. 
  p MCClouds dose not install program on your computer. It avoid doing lots of tedious works about the install of MC tool and the coding.
  p One word, MCClouds lets you focus on the physics, but not the coding.
  p MCClouds is based on the Geant4 and cloud computer technology. 
  p Its areas of application include high energy, nuclear and accelerator physics, as well as studies in medical and space science.
  p Links:
    a(href='http://geant4.web.cern.ch/') Geant4
