doctype html
html
  head
    block head
      include head
    block scripts
  body
    block mbody
      block navigator
        include navigator
      block content
        div(id='options',class='container')
      block extra_content
        //include sign_in_up
      block footer
        footer(class='footer')
          div(class='container')
            p(class='text-center') © 2017-2018 MCCLOUDS.COM ALL RIGHTS RESERVED


