nav(class='navbar navbar-expand-md navbar-default fixed-top',role='navigation')
  div(class='collapse navbar-collapse')
    block custom_navigator
      ul(class='nav navbar-nav navbar-left nav-pills')
        li
          a(href='/') Main
        li
          a(href='/mc') MCCloud
    ul(class='nav navbar-nav navbar-right nav-pills')
      if user.is_authenticated
        li 
          a(href='/home') #{user.email}
        li
          a(href='/accounts/logout') Logout
      else
        li
          a(href='/accounts/login') Login
          //a(href='/login',onclick='$("#sign-in").modal("show");return false;') 登录
        li
          a(href='/accounts/register') Register
          //a(href='/join',onclick='$("#sign-up").modal("show");return false;') 注册
